@import '../base/variables';

.content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-lg;

  h1 {
    margin-bottom: $spacing-lg;
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

#access_point {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  div:nth-child(2) {
    display: flex;
    gap: $spacing-sm;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    label {
      margin-bottom: 0;
      width: fit-content;
    }

    input {
      width: fit-content;
    }
  }
}

.form-group {
  width: 100%;
  max-width: 500px;

  p {
    color: red;
    margin-top: $spacing-xs;
  }

  .label {
    font-size: $font-size-md;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;

  button {
    padding: 0.7rem $spacing-lg;
    font-size: $font-size-md;
    border-radius: $border-radius-sm;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(black, 0.1);
    width: 150px;
    background-color: $primary-color;
    color: $white;
    border: 2px solid $primary-color;

    &:hover {
      transform: translateY(-3px);
      background-color: $white;
      color: $primary-color;
      box-shadow: 0 5px 15px rgba($primary-color, 0.3);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 2px 8px rgba($primary-color, 0.3);
    }
  }

  a {
    text-align: center;
    text-decoration: none;
    padding: 0.7rem $spacing-lg;
    font-size: $font-size-md;
    border-radius: $border-radius-sm;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(black, 0.1);
    width: 150px;
    background-color: $white;
    color: $primary-color;
    border: 2px solid $primary-color;

    &:hover {
      transform: translateY(-3px);
      background-color: $primary-color;
      color: $white;
      box-shadow: 0 5px 15px rgba($primary-color, 0.3);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 2px 8px rgba($primary-color, 0.3);
    }
  }
}

@media (max-width: 768px) {
  .content {
    padding: $spacing-lg;
  }
}