@import "../base/variables";

.content {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  min-height: fit-content;

  a {
    text-decoration: none;
    color: $text-color;
    font-size: $font-size-lg;
  }

  h1 {
    margin-bottom: $spacing-lg;
    text-align: center;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: $spacing-lg;
}

.avatar {
  display: flex;
  align-items: baseline;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: -30px;
  }

  span {
    background-color: $primary-color;
    color: $white;
    padding: 5px;
    border-radius: 25%;
  }
}

form {
  input[type="file"] {
    width: 100%;
  }
}

.form-row {
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: $spacing-lg;

  button {
    padding: 0.7rem $spacing-lg;
    font-size: $font-size-md;
    border-radius: $border-radius-sm;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(black, 0.1);

    &:first-child {
      background-color: $primary-color;
      color: $white;
      border: 2px solid $primary-color;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba($primary-color, 0.3);
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 2px 8px rgba($primary-color, 0.3);
      }
    }
  }

  a {
    padding: 0.7rem $spacing-lg;
    font-size: $font-size-md;
    border-radius: $border-radius-sm;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(black, 0.1);

    &:last-child {
      background-color: $white;
      color: $primary-color;
      border: 2px solid $primary-color;

      &:hover {
        background-color: $primary-color;
        color: $white;
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba($primary-color, 0.3);
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 2px 8px rgba($primary-color, 0.3);
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    padding: 35px 0;
    min-height: calc(100vh - 200px);
  }
}